.social-login
    a(href=mRoutes.gitHub)
        button.social-login__github
            span
                i.fab.fa-github
            | Continue with Github account
    a(href=mRoutes.facebook)
        button.social-login__facebook
            span
                i.fab.fa-facebook-square
            | Continue with Facebook account