doctype html
html
    head
        script(src="https://kit.fontawesome.com/40bf19f4dc.js", crossorigin="anonymous")
        title #{pageTitle} | #{siteName}
    body
        include ../partials/header
        main
            block contentBlock
        include ../partials/footer