extends layouts/main

block contentBlock
    .form-contatiner
        form(action=mRoutes.editProfile, method="post")
            label(for="avatar") Avatar
            input(type="file", name = "avatar", id="avatar")
            input(type="text", name = "name",  placeholder="Name" )
            input(type="email", name = "email",placeholder="Email" )
            input(type="submit", value="Update Profile" )
        a.form-contatiner__link(href=mRoutes.changePassword) Change Password