extends layouts/main

block contentBlock
    p editVideo! by Pug
    .form-container
        form(action=mRoutes.editVideo(video.id), method="post")
            input(type="text", placeholder = "write title", name = "title", value = video.title)
            textarea(name="description" )= video.description
            input(type="submit", value = "Update Video")
        a.form-container__link(href=mRoutes.deleteVideo(video.id)) 
            button.delete Delete Video