extends layouts/main
include mixins/videoBlock
block contentBlock
    .search__header
        h3 search for: #{searchingBy}
    .search__videos
        if videos.length === 0
            h5 No Videos Found
        each item in videos
                +videoBlock({
                    views:item.views,
                    title:item.title,
                    videoFile:item.videoFile,
                    id:item.id
                })